.point {
  transition: r 0.3s ease; /* Add transition for the 'r' attribute with a duration of 0.3 seconds and ease timing function */
}

.hover-fill {
  fill: none; /* Initial fill color */
  transition: fill 0.3s ease; /* Smooth transition effect */
}

.hover-fill:hover {
  fill: rgba(0, 128, 255, 0.5); /* Semi-transparent fill color on hover */
}
